
.kalendar {}

.kalendar-toolbar {
  align-items: center;
  background-color: #FFEB3B;
  height: 52px;
}

.kalendar-toggle {
  display: inline;
  align-items: center;
}
.kalendar-toggle-item {
  color: white;
  background-color: #D7CCC8;
  min-width: 88px;
  height: 36px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: inset 0px 3px 1px -2px rgba(0,0,0,0.2), inset 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
.kalendar-toggle-item:first-child {
  margin-left: 6px;
  border-top-left-radius: 2px;
  border-top-left-radius: 2px;
}
.kalendar-toggle-item:last-child {
  margin-right: 6px;
  border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.kalendar-toggle-item.active {
  color: white;
  background-color: #795548;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.kalendar-date-picker {
  align-items: center;
  min-width: 120px;
  height: 36px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
  background-color: #795548;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

/* .kalendar-content {} */

/* .kalendar-monthly {} */
.kalendar-monthly-header {
  height: 32px;
  text-align: center;
}
.kalendar-monthly-content {
  grid-gap: 4px;
}

.kalendar-day {
  background-color: white;
  padding: 4px;
}


/* .kalendar-weekly {} */
.kalendar-weekly-header {
  height: 48px;
  text-align: center;
}
.kalendar-weekly-content {
  grid-gap: 1px 4px;
}
.kalendar-weekly-timeline {
  grid-gap: 1px 4px;
  width: 60px;
  text-align: right;
  padding-right: 10px;
}
.kalendar-weekly-timeline-item {
  font-size: 0.9em;
}

.kalendar-hour {
  background-color: white;
  padding: 4px;
}
